.summary-container {
    margin-top: 0px;
    padding-top: 10px;
    /* border-top: 1px solid #DCDCDC; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summary-row {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.summary-rows {
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
}

.summary-rows-grey-line {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.grey-line {
    width: 1px;
    background-color: #DCDCDC;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
    height: 90%;
}

.summary-row-title {
    font-size: 1rem;
    color: #B9B9B9;
}

.summary-row-value {
    font-size: 1rem;
    color: #696969;
}

@media (max-width: 1024px) {
    .summary-container {
        display: none;
    }
}