.stock-check-point-box {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.stock-check-point-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    flex-grow: 1;
}

.stock-check-point-text {
    font-size: 1rem;
    margin-left: 10px;
    font-weight: 400;
    color: #696969;
}

.stock-check-point-header {
    color: #696969;
}

.stock-check-point-group {
    flex-grow: 1;
}