.product-table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DCDCDC;
}

.product-table-row.header {
    border-bottom: 2px solid #DCDCDC;
    z-index: 0;
}

.product-table-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #696969;
    font-size: 20px;
    padding: 0px;
}

.product-table-contents:hover {
    color: rgba(105,105,105,0.8);
}

.product-table-contents.product {
    width: 160px;
    min-width: 160px;
}

.product-table-contents.sales-ratio {
    width: 160px;
    min-width: 160px;
}

.product-table-contents.growth {
    width: 160px;
    min-width: 160px;
}

.product-table-contents.tag-list-container {
    flex-grow: 1;
}

@media (max-width: 1024px) {
    .product-table-contents.tag-list-container {
        display: none;
    }
    .product-table-contents.product {
        flex-grow: 1;
    }
}

@media (max-width: 600px) {
    .product-table-contents {
        font-size: 16px;
    }
    .product-table-contents.sales-ratio {
        min-width: 100px;
    }
    .product-table-contents.growth {
        min-width: 120px;
    }
}