.target-price-box-title {
    color: #696969;
}

.target-price-box-container {
    flex: 1;
    width: 100%;
    margin-bottom: 20px;
}

.factor-box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.factor-box-title {
    font-size: 20px;
    color: #DCDCDC;
}

.factor-box-value {
    font-size: 20px;
    font-weight: 500;
}

.factor-box-value.high {
    color: #34B199;
}

.factor-box-value.low {
    color: #F15E5E;
}

@media (max-width: 600px) {
    .factor-box-value {
        font-size: 16px;
    }
    .factor-box-title {
        font-size: 16px;
    }
}