.target-price-box-title {
    color: #696969;
}

.target-price-box-container {
    flex: 1;
    width: 100%;
    margin-bottom: 20px;
}

.factor-box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.factor-box-title {
    color: #DCDCDC;
}

.factor-box-value.high {
    color: #34B199;
}

.factor-box-value.low {
    color: #F15E5E;
}