.stock-price-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top:10px; */
}

.stock-price {
    color: #333333;
    margin: 0;
}

.stock-price-change {
    margin: 0;
    margin-left: 10px;
}

.stock-price-change.positive {
    color: #34B199;
}

.stock-price-change.negative {
    color: #F15E5E;
}