.stock-logo {
    width: 90px;
    height: 90px;
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    background: #074B3F;
}

.stock-logo-image {
    width: 60px;
    height: 60%;
    object-fit: contain;
}

.stock-image-update-button {
    position: absolute;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    border-radius: 20px;
    z-index: 1;
    color: rgba(255,255,255,0);
}

.stock-image-update-button:hover {
    display: flex;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-weight: 500;
}

@media (max-width: 600px) {
    .stock-logo {
        display: none;
        margin-right: 0;
    }
}