.nav-bar {
    position: sticky;
    top: 0px;
    width: 250px;
    min-width: 250px;
    height: 100vh;
    border-right: 1px solid #DCDCDC;
}

.logo-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

@media (max-width: 1024px) {
    .nav-bar {
        width: 60px;
        min-width: 60px;
    }
    .logo-container {
        display: none;
        width: 0px;
    }
}

@media (max-width: 600px) {
    .nav-bar {
        display: none;
    }
}