.nav-menu {
    display: flex;
    flex-direction: column;
}

.nav-menu-title-container {
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #005041;
    padding: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.menu {
    height: 50px;
    width: 200px;
    /* background-color: #fff; */
    /* margin-top: 10px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #B9B9B9;
}

.menu.on {
    /* background: #F8F8F8; */
    color: #333333;
    font-weight: 500;
}

.menu:hover {
    /* background: #FAFAFA; */
    color: rgba(150,150,150);
}

.menu.on:hover {
    color: #333333;
}

.menu-image-container {
    height: 24px;
    width: 24px;
    margin-left: 30px;
}

.menu-text {
    font-size: 16px;
    margin-left: 13px; 
}

.menu-grey-line {
    height: 1px;
    margin: 10px 20px 10px 20px;
    background: #DCDCDC;
    z-index: 1;
}

@media (max-width: 1024px) {
    .menu {
        height: 50px;
        width: 60px;
        min-width: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #B9B9B9;
    }
    .menu-image-container {
        height: 24px;
        width: 24px;
        margin: auto
    }
    .menu-text {
        display: none;
    }
    .menu-grey-line {
        height: 1px;
        margin: 10px 10px 10px 10px;
        background: #DCDCDC;
    }
}