.quarter-table-container {
    margin-top: 30px;
    /* width: calc(100vw-250px); */
}

.quarter-table-header {
    color: #696969;
}

.quarter-table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 15px;
}

.quarter-table-row.date {
    border-bottom: 2px solid #DCDCDC;
}

.quarter-table-row-header {
    width: 100px;
    flex-shrink: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #696969;
}

.quarter-table-content {
    flex-grow: 1;
    color: #696969;
    font-size: 1rem;    
}

.quarter-table-unit {
    flex-grow: 1;
    margin-top: 10px;
    color: #B9B9B9;
}