.check-point-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 30px;
}

.check-point-text {
    font-size: 20px;
    margin-left: 10px;
    font-weight: 400;
    color: #696969;
}

.check-point-header {
    color: #333333;
    margin: 0;
}

.check-point-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .check-point-text {
        font-size: 16px;
    }
}